h1{
    color:#292929;
    font-family: Impact, Charcoal, sans-serif;
}
body{
    background-color:#B5B0A9;
}
span.bold{
    font-weight: bold;
}
.first{
    font-size: 80px;
    color:#292929;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
.img{
    float:left;
    padding-left: 10px;
    padding-bottom: 10px;
}
.down{
    transform: translateY(-50px);
}
.coll{
    position:relative;
    top:80px;
    text-align: center;
}
.card{
    width: 1000px;
    height: 550px;
    padding-bottom: 100px;
    horiz-align: center;
}
.card:hover {
    transform:  scale(1.25);
}


